body {
    background-color: aqua;
}
.page-container {
    display: grid;
    grid-template-columns: 40px 95px 10% auto 10% 95px 40px;
    grid-template-rows: auto auto auto auto auto auto;
    /* grid-template-areas:
        "header header header"
        "blank  game   blank"
        "main   main   main "
        "main   main   main "
        "footer footer footer"; */
    gap: 10px;
    
}

header {

    grid-column: 1 /8;

    grid-row-start: 1;
    grid-row-end: 2;
    padding: 20px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
    border-radius: 20px;
    background: deepskyblue;
}

header a {
    font-size: 20px;

    display: block;
    color: white;
    text-align: center;

    padding: 20px 40px;
    text-decoration: none;
}
header a:hover {
    border-radius: 20px;
    background: #1565C0;
}
.Main {
    
    grid-column: 4/5;
    grid-row-start: 2;
    grid-row-end: span 1;
    
    padding: 20px 0;
    
    
    
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
}
@media all and (max-width: 600px) {
    header {
        grid-column: 4 /5;

        grid-row-start: 1;
        grid-row-end: 2;
        flex-flow: column wrap;
        padding: 0;
    }

    header a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    header li:last-of-type a {
        border-bottom: none;
    }
}

.game {
    grid-column: 4 /5;
    grid-row: 3;
    grid-row-end: span 1;
    
    border: 2px solid #73AD21;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
}

#canvas {
    display: inline;
    padding: 10px;
}
.learn {
    grid-column: 3 /6;
    gird-row: 5;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px;
    margin: 0;
    display: inline-flexbox;
    align-items: initial;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    background-color: chartreuse;
    border-radius: 20px;
}
.learn-item {
    background-color: darkgreen;
    width: 2fr;
    height: 2fr;

    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    display: inline-block;
    border-radius: 20px;
}
.learn-item>.content {
    display: none;
    overflow: hidden;
}
.learnActive {
    width: auto;
    height: auto;
    margin: auto;
    display: block;
    flex: 1 1;
    margin-right: 0;
    
}

.learnActive>.content {
    width: auto;
    display: block;
    align-content: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: 40px auto 40px;
    gap: 10px;
    
}
.nestedIngrd {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    align-self: auto;
    
    
    border-bottom: 1px;
    gap: 10px;

}
.nestedIngrd>p {
    border: 1px dashed greenyellow;
}
.box1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.image {
    justify-content: center;
    padding:10px ;
}
.borderLeft {
    grid-column: 2 / 3;
    grid-row: 2/ span all;
    background: url(../../Images/Bamboo.png);
}
.borderRight {
    grid-column: 6 / 7 ;
    grid-row: 2/ span all;
    background: url(../../Images/Bamboo.png);
}
.Ingredients {
    justify-content: space-between;
    border: 2px dashed black;
    gap: 10px;
    padding: 10px;
}
.rollIngredients {
    display: grid;
    grid-template-columns: repeat(2,300px);
    justify-content: top;
    
    gap: 10px;
    padding: 10px;
}
.nestedRollIngrd > p{
    border: 1px dashed greenyellow;
}
.rollDescription {
    width: auto;
    
    flex-wrap: wrap;
    text-align: center;
    font-family: freight-text-pro, serif;
    font-style: normal;
    font-weight: 300;
}


.aboutWrap {
    grid-column: 4/5;
    grid-row: 6;
    
    text-align: center;
}
@media all and (max-width: 600px) {
    .box1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    -webkit-text-size-adjust: auto;
    }
    

}
footer {
    grid-column: 3/6;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: left;
    border-top: 1px solid black;
}

.search-bar button{
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}