body {
    background-color: aqua;
}
#page-container {
    display: grid;
    grid-template-columns: 40px 50px auto 50px 40px;
    grid-template-rows: 25% auto 10px auto 10%;
    grid-template-areas:
        "header header header"
        "blank  game   blank"
        "main   main   main "
        "main   main   main "
        "footer footer footer";
    gap: 10px;

}