
body {
    background-color: aquamarine;
    margin: 0;
}
ul {
    z-index: 500;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li:last-child{
    border-right: none;
}
li a {
    float: left;
    font-size: large;
    border-right: 1px solid #bbb;
    display: block;
    color: white;
    text-align: center;
    position: relative;
    padding:  20px 40px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
h1 {
    color: blue;
}
p {
    color: red;
    font-size: large;
}

.active {
    background-color: green;
}
#page-container {
    position: relative;
    min-height:  100vh;
    padding: 20px;
    margin-top: 30px;
    height: 1500px;
}
#content-wrap {
    padding-bottom: 2.5rem;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}